<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if lte IE 9]>
    {% javascript libs/aight.min.v2.1.1.js %}
    <![endif]-->
    <title>Henry Lawson: {{ page.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    {% javascript libs/d3.v3.min.js %}
    {% javascript libs/dimple.v2.1.2.min.js %}
    {% stylesheet syntax %}
    {% stylesheet screen %}
    {% stylesheet screen-narrow media="only screen and (max-width:800px)" %}
    <link rel="alternate" type="application/atom+xml" title="Henry Lawson" href="{{ site.url }}/feed/atom.xml">
  </head>
  <body>
    <div>
      <div class="container">
        <div class="header">
          <div class="title">
            <h1><a href="/">Henry Lawson</a></h1>
            <div class="link-area">
              <ul class="links">
                <li><a href="/all">All</a></li>
                <li><a href="/feed/atom.xml">Atom</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          {{ content }}
        </div>
        <div class="footer">
          <div class="title">
            <h3>Who is Henry Lawson?</h3>
          </div>
          <div class="body">
            <p>I'm a developer from
              <a href="https://maps.google.co.in/maps?hl=en&q=brisbane+australia&ie=UTF8&hq=&hnear=Brisbane+Queensland,+Australia&gl=in&t=m&z=14&vpsrc=0&iwloc=A">Brisbane, Australia</a>
              currently residing in <a href="https://www.google.com/maps/place/Singapore">Singapore</a>.
              I'm a passionate C#, Java, JavaScript and Ruby programmer. I often struggle to stay on top of all the emerging frameworks and software trends so I try and keep a focus on principles and patterns because as the frameworks fade, the patterns and principles remain. The writtings here are of my own biased, sometimes one sided and a little bit arrogant opinion. I expect to be questioned and scrutinized by you in every way you desire. I currently work at (and love working at)
              <a href="http://thoughtworks.com">ThoughtWorks</a>.
              If you would like to pair with me sometime, consider
              <a href="http://join.thoughtworks.com/">joining</a> or <a href="http://www.thoughtworks.com/services">hiring</a> <a href="http://thoughtworks.com">ThoughtWorks</a>.
            </p>
            <p class="list">Find more of me at:</p>
            <ul>
              <li><a href="https://github.com/henrylawson">Github</a></li>
              <li><a href="http://flickr.com/photos/hen3rz">Flickr</a></li>
              <li><a href="https://keybase.io/hlawson">Keybase</a></li>
              <li><a href="https://www.linkedin.com/in/hglawson">LinkedIn</a></li>
              <ul>
              </div>
            </div>
          </div>
        </div>
      </body>
    </html>
