<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <link rel="author" href="https://plus.google.com/117420814347348419892"/>
    <link rel="publisher" href="https://plus.google.com/117420814347348419892"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    {% if page.title %}
      {% capture page_title %}{{ site.name }}: {{ page.title }}{% endcapture %}
    {% else %}
      {% assign page_title = site.name %}
    {% endif %}
    {% if page.excerpt %}
      {% capture page_description %}{{ page.excerpt | strip_html }}{% endcapture %}
    {% else %}
      {% assign page_description = site.meta.description %}
    {% endif %}
    {% capture page_url %}{{ site.hostname }}{{ page.url }}{% endcapture %}
    {% capture page_image %}{{ site.hostname }}{% asset_path 'henry_lawson.jpg' %}{% endcapture %}

    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}"/>

    <meta property="og:title" content="{{ page_title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ page_image }}"/>
    <meta property="og:url" content="{{ page_url }}"/>
    <meta property="og:description" content="{{ page_description }}"/>
    <meta property="fb:admins" content="hen3rz"/>

    <meta name="twitter:title" content="{{ page_title }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="{{ page_url }}"/>
    <meta name="twitter:site" content="@henryglawson"/>
    <meta name="twitter:description" content="{{ page_description }}"/>
    <meta name=”twitter:image” content="{{ page_image }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% if page.is_js_needed %}
      <script type="text/javascript">
        {% asset onload %}
      </script>
      {% javascript app async %}
    {% endif %}
    <style type="text/css">
      {% asset app.css %}
    </style>
    <link rel="alternate" type="application/atom+xml" title="Henry Lawson" href="{{ site.hostname }}/feed/atom.xml">
  </head>
  <body {% if page.is_js_needed %} onload="OnLoad.execute()" {% endif %}>
    <div>
      <div class="container">
        <div class="header">
          <div class="title">
            <h1><a href="/">Henry Lawson</a></h1>
            <div class="link-area">
              <ul class="links">
                <li><a href="/all">All</a></li>
                <li><a href="/feed/atom.xml">Atom</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          {{ content }}
        </div>
        <div class="footer">
          <div class="title">
            <h3>Who is Henry Lawson?</h3>
          </div>
          <div class="body">
            <p>I'm a developer from
              <a href="https://goo.gl/maps/eT9uO">Brisbane</a>, Australia
              currently residing in <a href="https://goo.gl/maps/eYcnj">Singapore</a>.
              I'm a passionate C#, Java, JavaScript and Ruby programmer. I often struggle to stay on top of all the emerging frameworks and software trends so I try and keep a focus on principles and patterns because as the frameworks fade, the patterns and principles remain. The writtings here are of my own biased, sometimes one sided and a little bit arrogant opinion. I expect to be questioned and scrutinized by you in every way you desire. I currently work at (and love working at)
              <a href="http://thoughtworks.com">ThoughtWorks</a>.
            </p>
            <p class="list">Find more of me at:</p>
            <ul class="social-media-list">
              <li><a href="https://github.com/henrylawson">{% image social-media/github.png alt="Github" title="Github" class="social-media" width="32" height="32" %}</a></li>
              <li><a href="http://flickr.com/photos/hen3rz">{% image social-media/flickr.png alt="Flickr" title="Flickr" class="social-media" width="32" height="32" %}</a></li>
              <li><a href="https://keybase.io/hlawson">{% image social-media/keybase.png alt="Keybase" title="Keybase" class="social-media" width="32" height="32" %}</a></li>
              <li><a href="https://www.linkedin.com/in/hglawson">{% image social-media/linkedin.png alt="LinkedIn" title="LinkedIn" class="social-media" width="32" height="32" %}</a></li>
              <li><a href="https://twitter.com/henryglawson">{% image social-media/twitter.png alt="Twitter" title="Twitter" class="social-media" width="32" height="32" %}</a></li>
            </ul>
            <p class="rights">Copyright &copy; 2012 to {{ site.time | date: '%Y' }}, Henry Lawson; all rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
