@media #{$media-fat} {
  .container {
    min-width:252px;
  }
  .header .title {
    padding-top:20px;
  }
  .header .title .link-area {
    position:relative;
    margin-top:40px;
  }
  .content .article .title h2 {
    display:block;
    margin: 0;
  }
  .content .article .body ol, .content .article .body ol {
  }
  .content .article .body ol li, .content .article .body ul li {
    padding:4px 4px 4px 8px;
  }
  .other-articles ul.indexes .index .date {
    display: block;
    float: none;
    width: auto;
    border: 0;
  }
  .other-articles ul.indexes .index .right-arrow {
    display: none;
  }
  .other-articles ul.indexes .index .title {
    display: block;
    float: none;
    padding-bottom: 0;
    line-height: 1.2;
    margin: 5px 0 0 0;
  }
}
