@media #{$media-wide} {
  .about-splash .body .text p {
    font-size:1.5em;
  }
  .about-splash .body .portrait img {
    width: 250px;
  }
}
@media #{$media-fat} {
  body {
    font-size:100%;
  }
  .about-splash .body .portrait img {
    width: 200px;
  }
}
@media #{$media-narrow} {
  .about-splash .body .text p {
    font-size:1.2em;
  }
  .about-splash .body .portrait img {
    width: 150px;
  }
  .container {
    min-width:252px;
  }
  .header .title {
    padding-top:20px;
  }
  .header .title .link-area {
    position:relative;
    margin-top:40px;
  }
  .content .article .title h2 {
    display:block;
    margin: 0;
  }
  .other-articles ul.indexes .index .date {
    display: block;
    float: none;
    width: auto;
    border: 0;
  }
  .other-articles ul.indexes .index .right-arrow {
    display: none;
  }
  .other-articles ul.indexes .index .title {
    display: block;
    float: none;
    padding-bottom:0;
    padding-top:0;
    line-height: 1.2;
    margin: 0px 0 0 0;
  }
  .excerpts .inner .article {
    width:100%;
    float:clear;
    display:block;
    font-size:0.9em;
  }
}
@media #{$media-very-narrow} {
  .about-splash .body .portrait {
    margin:0;
    margin-left:auto;
    margin-right:auto;
    float:none;
  }
}
