<div class="breadcrumbs">
  <ol class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="/">
        <span property="name">Home</span>
      </a>
      <meta property="position" content="1" />
    </li>
    <li property="itemListElement" typeof="ListItem"> › </li>
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="/all">
        <span property="name">All Articles</span>
      </a>
      <meta property="position" content="2" />
    </li>
    {% if post %}
      <li property="itemListElement" typeof="ListItem"> › </li>
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" href="{{ post.url }}">
          <span property="name">{{ post.title }}</span>
        </a>
        <meta property="position" content="3" />
      </li>
    {% endif %}
  </ol>
</div>
