<div class="breadcrumbs">
  <ol class="breadcrumbs">
    <li>
      <a href="/">
        <span>Home</span>
      </a>
    </li>
    <li> › </li>
    {% if include.page_name %}
      <li>
        <a href="{{ include.page_url }}">
          <span>{{ include.page_name }}</span>
        </a>
      </li>
    {% else %}
      <li>
        <a href="/all">
          <span>All Articles</span>
        </a>
      </li>
    {% endif %}
    {% if post %}
      <li> › </li>
      <li>
        <a href="{{ post.url }}">
          <span>{{ post.title }}</span>
        </a>
      </li>
    {% endif %}
  </ol>
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ site.url }}",
      "name": "{{ site.name }}",
      "image": "{{ site.url }}{{ site.meta.image | asset_path }}"
    }
  },{% if include.page_name %}{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ site.url  }}{{ include.page_url }}",
      "name": "{{ include.page_name }}",
      "image": "{{ site.url }}{{ site.meta.image | asset_path }}"
    }
  }{% else %}{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ site.url }}/all",
      "name": "All Articles",
      "image": "{{ site.url }}{{ site.meta.image | asset_path }}"
    }
  }{% endif %}{% if post %},{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ site.url }}{{ post.url }}",
      "name": "{{ post.title }}",
      "image": "{{ site.url }}{{ site.meta.image | asset_path }}"
    }
  }{% endif %}]
}
</script>
