<div class="title">
  <h3>Who is Henry Lawson?</h3>
</div>
<div class="body">
  <p>I'm a Software Consultant. I've had the privilege of consulting for
  clients around the world in Australia, India, UK, USA, Brazil and Singapore.
  I have a broad set of skills and interests, from Programming Languages (C#,
  Ruby, Java, JavaScript, Python and Clojure) to Business Management and
  Software Infrastructure. As I often struggle to stay on top of all the
  emerging frameworks, tools and trends, I try and keep a focus on principles,
  patterns and established theories because as the frameworks and tools fade,
  the patterns, principles and established theories remain.</p> <p
  class="list">The writings here are of my own biased, sometimes one sided
  opinion.  I am always up for a healthy discussion on interesting topics, feel
  free to get in contact below:<p>
  </p>
</div>
